<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2>이제 시작해볼까요?</h2>
                <span class="center-line"></span>
            </div><!--center-heading-->
        </div>
    </div>

    <div class="divide80"></div>

    <div class="row">
        <div class="col-md-12 no-lr-pad">
            <div class="col-md-6 col-sm-6 snsMgmt">
                <button class="btn btn-block btn-lg btn-facebook-inversed no-border-radius facebook " data-connected="false" ng-click="vm.fnLinkToSns('1000')">
                    <i class="fa fa-facebook"></i> Facebook 연동하기
                </button>
            </div>
            <div class="col-md-6 col-sm-6 snsMgmt">
                <button class="btn btn-block btn-lg btn-instagram-inversed no-border-radius instagram " data-connected="false" ng-click="vm.fnLinkToSns('2000')">
                    <i class="fa fa-instagram"></i> Instagram 연동하기
                </button>
            </div>
        </div>
    </div>

    <div class="divide30"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <p class="lead">당신의 리뷰를 등록할 SNS를 연동해주세요.</p>
                <br><br>
                <a href="/try" class="btn btn-lg btn-theme-bg no-border-radius">다음 단계</a>
            </div><!--center-heading-->

        </div>
    </div>
</div>