.sky-form {
    box-shadow: none;
}

textarea.form-control {
    font-size:15px;
    padding:10px;
    border:2px solid #e5e5e5;
    box-sizing:border-box;
    width:100%;
}

.sky-form .button.askBtn {
    margin:0 auto;
    display:block;
    float:none;
}
