.category-try .active{
  font-weight: bold;
}

.category-review .active{
  font-weight: bold;

}
.memberReviews{
  display:none;
}

.revIcoDiv {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 35%;
  cursor: pointer;
}


.revIco.expiredReview {
  background-color: red;
}
.revIco:before {
  color: white;
}

.blurDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
  opacity: 0.8;
  cursor: pointer;
}