<div class="col-md-9">
    <div class="center-heading">
        <h2 class="rawText" style="margin: 0;">LIKE</h2>
        <span class="center-line" style="border-top: 2px solid #888"></span>
    </div>

    <!--<div class="dynamic-grid" angular-grid="vm.listview" grid-width="130" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >-->

        <!--<div class="appliedEvent memberApplys complete grid" ng-repeat="item in vm.listview">-->
            <!--<div ng-if="item.status">-->

                <!--<div ng-if="item.status == '3000'" class="revIcoDiv"><i class="revIco fa fa-exclamation rounded-x icon-custom edit expiredReview"></i></div>-->
                <!--<a class="mpImg detailBtn" href="/mypage/write?id={{item.campaignId}}">-->


                    <!--<img ng-src="{{item.image.orgName}}" class="img-responsive completeThumbnailImg" data-actual-width="500" data-actual-height="300" alt="workimg">-->

                <!--</a>-->
                <!--<div class="blurDiv " ng-if="item.status == '0000'"></div>   &lt;!&ndash;status 2000(리뷰완료)으로 변경해야함&ndash;&gt;-->
                <!--<div class="item-img-overlay">-->
                    <!--<div class="timer timer-1970" ng-if="item.status == '0000'">-->
                        <!--<timer  countdown="item.remainTime" max-time-unit="'hour'" interval="1000">{{hours}}:{{mminutes}}:{{sseconds}}</timer>-->
                    <!--</div>-->
                    <!--<a ng-if="item.status == '0000'" href="/mypage/write?id={{item.campaignId}}"> &lt;!&ndash;satus 3000(리뷰없음)으로 변경하여야함&ndash;&gt;-->
                        <!--<span class="overlay"></span>-->
                    <!--</a>-->
                    <!--<a ng-if="item.status == '1000'||item.status == '2000'" href="try/detail?id={{item.campaignId}}">-->
                        <!--<span class="overlay"></span>-->
                    <!--</a>-->

                <!--</div>-->
            <!--</div>-->
            <!--<div ng-if="!item.status">-->


                <!--<a class="mpImg detailBtn" href="/review/detail?rid={{item.id}}">-->


                    <!--<img ng-src="{{item.images[0].modName}}" class="img-responsive completeReviewImg" data-actual-width="500" data-actual-height="300"  alt="workimg">-->


                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->

    <!--<div  ng-if="vm.emptyList" class="text-center error-text">-->
        <!--<div class="divide30"></div>-->
        <!--<h1 class="error-digit wow animated fadeInUp margin20 animated" style="visibility: visible;"><i class="fa fa-smile-o"></i></h1>-->
        <!--<h2>신청 내역이 없습니다</h2>-->
    <!--</div>-->



</div>