.full-bgimage {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  min-height:100%;
  background: url('/assets/images/bg/signBackground.jpg') 50% 50% no-repeat;
  background-size: cover;
}
.full-bgimage .sky-form-login-register h3 {
  font-size:30px;
  margin-bottom:10px;
}
.full-bgimage .sky-form-login-register p.notice {
  padding:5px 15px;
}


.full-bgimage .sky-form-login-register .sky-form.signupForm {
	max-width:480px;
	margin:0 auto;
	background: #fff;
	border-top: 4px solid #01a9e0;

}

.full-bgimage .sky-form .button {
	margin-left:6px;
}
.full-bgimage .signupAlert {
	margin-top: 10px;
}
.facebook-login{
  position:relative;
  background: #3b5998;
  width:200px;
  margin: 0 auto;
  margin-top: 10px;
  height: 50px;
  text-align: center;
  color: #fff;
}
.facebook-login .title{
  line-height: 50px;
  font-size: 15px;
  letter-spacing: -0.06em;
  font-weight: 400;
}
.facebook-login .icon{
  position: absolute;
  left: 10px;
  line-height: 50px;
  font-size: 25px;
}
.or-container{
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  color: #6a737c;
  font-variant: small-caps;
}
.or-hr{
  position: relative;
  top: 24px;
}
.or{
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: #FFF;
}
.loginBtn-email{
  position:absolute;
  left:5px;
  top:11px;
}
.loginBtn{
  width:200px;
  height: 39px;
  border: 0;
  font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight:bold;
  cursor: pointer;
  /*background-color: #07C;*/
  background-color: black;
}
