<ul class="list-unstyled margin-bottom-20">
    <li class="notification" ng-repeat="item in vm.messages track by $id(item)">
        <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>
        <div class="overflow-h">
            <span><strong>{{item.msg}}</strong><i class="fa fa-times pull-right deleteBtn" style="cursor: pointer" ng-click="vm.delMsg(this)"></i></span>
            <small>{{item.createdAt | date:'yyyy-MM-dd HH:mm'}}</small>
        </div>
    </li>
</ul>